.user-image {
    width: 10%;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.all-posts div {
    display: inline;
}

.all-posts {
    /*display: grid;*/
    display: flex;
    flex-flow: wrap column;
    /*gap: 1.5rem*/
    /*grid-template-columns: repeat(1, 1fr) minmax(200px, 1fr);*/
    /*grid-template-rows: repeat(5, 1fr);*/
}

.all-posts div img {
    width: 20%;
    height: 20%;
}